@page "{originRegNo:int}/{rabbitRegNo:int}"
@model RabbitRegister.Pages.Main.Rabbit.RabbitProfileModel
@{
}

<head>
    <!-- Styling reference -->
    <link rel="stylesheet" href="/css/rabbitProfile.css" />
    <link rel="stylesheet" href="/css/site.css" />
</head>

<body class="w3-auto">
    <div class="min-vh-100">
        <br><br></br>
        <h2 class="text-center">Profil:</h2>

        <br>
        <a class="w3-button w3-light-blue w3-text-white w3-hover-pale-blue w3-round-large w3-ripple" asp-page="/Main/Rabbit/GetAllRabbits">Mine Kaniner</a>
        <br>
        <div class="rabbit-profile row mt-2">
            <div class="@*col-sm-4*@ rabbit-profile-left">
                <div style="display:flex; flex-direction:column; align-items:center;">

                    @if (Model.Rabbit.ImageString == "/Images/Rabbits/" || Model.Rabbit.ImageString == null && Model.Rabbit.ImagePath == null)
                    {
                        <img class="card-image" src="\Images\NoImage.jpg">
                    }
                    else if (Model.Rabbit.ImageString != null)
                    {
                        <img class="card-image" src="@Model.Rabbit.ImageString">
                    }
                    else if (Model.Rabbit.ImagePath != null)
                    {
                        <img class="card-image" src="@Url.Content(Model.Rabbit.ImagePath)">
                    }
                    <h5>Ejer: @Model.Rabbit?.Owner</h5>
                    <h5>Højre øre-ID: @Model.Rabbit?.OriginRegNo</h5>
                    <h5>Venstre øre-ID: @Model.Rabbit?.RabbitRegNo</h5>
                </div>
            </div>

            <div class="container rabbit-profile-right">
                <br>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#profile">Profil </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#trimming">Klip </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#menu2">Menu 2</a>
                    </li>
                </ul>

                <!-- Rabbit properties -->
                <div class="tab-content">
                    <div id="profile" class="container tab-pane active">
                        <br>
                        @if (Model.Rabbit != null && Model.Rabbit.Owner.ToString() == User.Identity.Name)
                        {
                            <div class="d-flex flex-row justify-content-end">
                                <a class="btn-card btn-primary btn-sm mr-1" type="button" title="Edit" asp-page="/Main/Rabbit/EditRabbit" asp-route-rabbitRegNo="@Model.Rabbit.RabbitRegNo" asp-route-originRegNo="@Model.Rabbit.OriginRegNo">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn-card btn-danger btn-sm" type="button" title="Delete" asp-page="/Main/Rabbit/DeleteRabbit" asp-route-rabbitRegNo="@Model.Rabbit.RabbitRegNo" asp-route-originRegNo="@Model.Rabbit.OriginRegNo">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        }
                        <h3>Profil</h3>
                        <div class="rabbit-profile-right">
                            <table class="table table-striped">
                                <tr>
                                    <th>Navn:</th>
                                    <td>@Model.Rabbit?.Name</td>
                                </tr>
                                <tr>
                                    <th>Race:</th>
                                    <td>@Model.Rabbit?.Race</td>
                                </tr>
                                <tr>
                                    <th>Farve:</th>
                                    <td>@Model.Rabbit?.Color</td>
                                </tr>
                                <tr>
                                    <th>Køn:</th>
                                    <td>@Model.Rabbit?.Sex</td>
                                </tr>
                                <tr>
                                    <th>Født:</th>
                                    <td>@Model.Rabbit?.DateOfBirth</td>
                                </tr>
                                <tr>
                                    <th>Vægt:</th>
                                    <td>@Model.Rabbit?.Weight</td>
                                </tr>
                                <tr>
                                    <th>Præmiepoint:</th>
                                    <td>@Model.Rabbit?.Rating</td>
                                </tr>
                                <tr>
                                    <th>Status:</th>
                                    <td>@Model.Rabbit?.DeadOrAlive</td>
                                </tr>
                                <tr>
                                    <th>Til salg?:</th>
                                    <td>@Model.Rabbit?.IsForSale</td>
                                </tr>
                                <tr>
                                    <th>Egnet til avl?:</th>
                                    <td>@Model.Rabbit?.SuitableForBreeding</td>
                                </tr>
                                <tr>
                                    <th>Døds-årsag:</th>
                                    <td>@Model.Rabbit?.CauseOfDeath</td>
                                </tr>
                                <tr>
                                    <th>Yderlige kommentar:</th>
                                    <td>@Model.Rabbit?.Comments</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- Trimm properties List -->
                    <div id="trimming" class="container tab-pane fade">
                        <br>
                        @if (Model.Rabbit != null && Model.Rabbit.Owner.ToString() == User.Identity.Name)
                        {
                            <div>
                                <br>
                                <a class="w3-button w3-ripple w3-green w3-hover-light-green w3-hover-text-white w3-round-large"
                                   asp-page="/Main/Trimm/CreateTrimm"
                                   asp-route-originRegNo="@Model.Rabbit.OriginRegNo"
                                   asp-route-rabbitRegNo="@Model.Rabbit.RabbitRegNo">
                                   Opret Klip
                                </a>
                            </div>
                            <h3>Klippehistorik</h3>
                            <div class="container-all">
                                <table class="table table-bordered table-hover table-striped table-opacity" width="100%">
                                    <thead>
                                        <tr>
                                            @*<th>Klip ID</th>
                                        <th>Højreøre-ID</th>
                                        <th>Venstreøre-ID</th>*@
                                            <th>Dato</th>
                                            <th>Tid (min)</th>
                                            <th>Hår dag 90</th>
                                            <th>Uld tæthed</th>
                                            <th>1. Sortering</th>
                                            <th>2. Sortering</th>
                                            <th>Kasseret uld</th>
                                            <th>Upd/Del</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.TrimmList != null && Model.TrimmList.Any())
                                        {
                                            @foreach (var trimm in Model.TrimmList)
                                            {
                                                <tr>
                                                    @*<td>@trimm.Id</td>
                                        <td>@trimm.RabbitRegNo</td>
                                        <td>@trimm.OriginRegNo</td>*@
                                                    <td>@trimm.Date.ToString("dd-MM-yyyy")</td>
                                                    <td>@trimm.TimeUsed</td>
                                                    <td>@trimm.HairLengthByDayNinety</td>
                                                    <td>@trimm.WoolDensity</td>
                                                    <td>@trimm.FirstSortmentWeight</td>
                                                    <td>@trimm.SecondSortmentWeight</td>
                                                    <td>@trimm.DisposableWoolWeight</td>
                                                    <td>
                                                        <a class="btn btn-primary btn-sm" type="button" title="Opdater" asp-page="/Main/Trimm/EditTrimm" asp-route-id="@trimm.Id" asp-route-originRegNo="@trimm.OriginRegNo" asp-route-rabbitRegNo="@trimm.RabbitRegNo">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                        <a class="btn btn-danger btn-sm" type="button" title="Slet" asp-page="/Main/Trimm/DeleteTrimm" asp-route-id="@trimm.Id" asp-route-originRegNo="@trimm.OriginRegNo" asp-route-rabbitRegNo="@trimm.RabbitRegNo">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="11">Ingen klippehistorik tilgængelig.</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        @if (Model.Rabbit != null && Model.Rabbit.Owner.ToString() != User.Identity.Name)
                        {
                            <h3>Klippehistorik</h3>
                            <p>Du skal være ejer af kaninen for at se disse oplysninger</p>
                        }

                    </div>

                    <div id="menu2" class="container tab-pane fade">
                        <br>
                        <h3>Menu 2</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>